body {
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  max-width: 1280px;
  background-color: rgb(226,198,94);
}
body .chanpic {
  text-align: center;
  background-image: url(https://gitlab.com/cpickfor/website-development/raw/master/IMG_1578.jpg);
  background-size: cover;
  width: 300px;
  height: 200px;
  color: white;
  margin: auto;
}
a {
  font-weight: bold;
  font-size: 16px;
  color: blue; 
}
.About {
  max-width: 300px;
}
.abtme {
  max-width: 800px;
}
.pgtitle {
  font-size: 60px;
}
.posttxt {
  text-align: left;
}
.Europetxt {
  text-align: left;
}
.monument {
  float: left;
}
.gelato {
  float: left;
}
.river{
  font-size: 30px;
}
.fish{
  font-size: 45px;
}
.rotate{
  transform: rotate(90deg);
  border: 1px solid #000;
  margin: 70px;
}
.list{
  text-align: left;
}